@import "tailwindcss";

@source "../../resources/views/**/*.blade.php";
@source "../../app/Filament/**/*.php";
@source "../../vendor/filament/**/*.blade.php";

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

.fi-in-entry.fi-in-entry-has-inline-label .fi-in-entry-label-ctn {
    width: 100%;
}

.fi-in-entry.fi-in-entry-has-inline-label .fi-in-entry-label {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.fi-in-entry.fi-in-entry-has-inline-label .fi-in-entry-label::after {
    content: ":";
    flex-shrink: 0;
}
